# node modules
node_modules/
dist/
.vite/
.cache/
build/

# dotenv / secrets
.env
.env.local
.env.production
firebase-config.json

# OS / IDE
.DS_Store
*.log
*.swp
*.tmp
*.bak
*.sublime-workspace
.vscode/
.idea/
