# Node & Logs
node_modules/
logs/
*.log

# Local env vars
.env
.env.local
.env.production

# Firebase private keys
service-account.json

# DBs or credentials (just in case)
*.sqlite
*.db
*.pem

# OS / IDE
.DS_Store
*.swp
*.tmp
.vscode/
.idea/
